﻿
body {
    font-family: 'Rock Salt', cursive;
}

span {
    font-style: italic;
}

#input_text{
 font-family: 'Permanent Marker', cursive;
    font-size:30px;
    height:70px;
    width:400px;
    z-index:1;
    position:absolute;
    top:500px;
    left:200px;
   text-align:center;
}